-let pageTitle = 'Home'
-let siteName = 'DorianDesings'
-let twitterAccount = '@DorianDesings'
-let pageDescription = 'Boilerplate base'
-let pageImage = ''
-let pages = ['home', 'work', 'testimonials','servicies', 'about', 'contact']