-let pageTitle = 'Home'
-let siteName = 'DorianDesings'
-let twitterAccount = '@DorianDesings'
-let pageDescription = 'Boilerplate base'
-let pageImage = ''
-let pages = ['home', 'work', 'testimonials','servicies', 'about', 'contact']
-
    let usersAbout = [
        {
            img: "", 
            name:"Jean Smith",
            job: "Web designer",
            description: "Far far away, behind the word, far from the countries Vokalia and Consonantia, there live the blind texts",
            socials: [
                        {
                            url:"https://www.facebook.com",
                            icon : "fab fa-facebook-f"
                        },
                        {
                            url:"https://www.twitter.com",
                            icon:"fab fa-twitter"
                        },
                        {
                            url:"https://www.dribbble.com",
                            icon:"fab fa-dribbble"
                        }
            ]
        },
        {
            img: "", 
            name:"Rob Smith",
            job: "Web Developer",
            description: "Far far away, behind the word, far from the countries Vokalia and Consonantia, there live the blind texts",
            socials: [
                        {
                            url:"https://www.facebook.com",
                            icon : "fab fa-facebook-f"
                        },
                        {
                            url:"https://www.twitter.com",
                            icon:"fab fa-twitter"
                        },
                        {
                            url:"https://www.dribbble.com",
                            icon:"fab fa-github"
                        }
            ]
        },
        {
            img: "", 
            name:"Pepe",
            job: "Web Developer",
            description: "Far far away, behind the word, far from the countries Vokalia and Consonantia, there live the blind texts",
            socials: [
                        {
                            url:"https://www.facebook.com",
                            icon : "fab fa-facebook-f"
                        },
                        {
                            url:"https://www.twitter.com",
                            icon:"fab fa-twitter"
                        },
                        {
                            url:"https://www.dribbble.com",
                            icon:"fab fa-github"
                        }
            ]
        }
    ]
