-let pageTitle = 'Home'
-let siteName = 'DorianDesings'
-let twitterAccount = '@DorianDesings'
-let pageDescription = 'Boilerplate base'
-let pageImage = ''
-let pages = ['home', 'work', 'testimonials','servicies', 'about', 'contact']
-
    let usersAbout = [
        {
            img: "", 
            name:"Jean Smith",
            job: "Web designer",
            description: "Far far away, behind the word, far from the countries Vokalia and Consonantia, there live the blind texts",
            socials: [
                        {
                            url:"https://www.facebook.com",
                            icon : "fab fa-facebook-f"
                        },
                        {
                            url:"https://www.twitter.com",
                            icon:"fab fa-twitter"
                        },
                        {
                            url:"https://www.dribbble.com",
                            icon:"fab fa-dribbble"
                        }
            ]
        },
        {
            img: "", 
            name:"Rob Smith",
            job: "Web Developer",
            description: "Far far away, behind the word, far from the countries Vokalia and Consonantia, there live the blind texts",
            socials: [
                        {
                            url:"https://www.facebook.com",
                            icon : "fab fa-facebook-f"
                        },
                        {
                            url:"https://www.twitter.com",
                            icon:"fab fa-twitter"
                        },
                        {
                            url:"https://www.dribbble.com",
                            icon:"fab fa-github"
                        }
            ]
        },
        {
            img: "", 
            name:"Pepe",
            job: "Web Developer",
            description: "Far far away, behind the word, far from the countries Vokalia and Consonantia, there live the blind texts",
            socials: [
                        {
                            url:"https://www.facebook.com",
                            icon : "fab fa-facebook-f"
                        },
                        {
                            url:"https://www.twitter.com",
                            icon:"fab fa-twitter"
                        },
                        {
                            url:"https://www.dribbble.com",
                            icon:"fab fa-github"
                        }
            ]
        }
    ]
-
    let homeCards =
                    [
                        {
                            icon: "far fa-lightbulb",
                            title: "plan",
                            description: "There's a sign on the wall, But she wants to be sure 'Cause you know sometimes words have two meanings.",
                            button:{
                                link:"getInTouch",
                                text: "get in touch"
                            }
                        },
                        {
                            icon: "far fa-heart",
                            title: "Develop",
                            description: "In a tree by the brook. There's a songbird who sings. Sometimes all of our thoughts are misgiving, it makes me wonder.",
                            button:{
                                link:"services",
                                text: "click me"
                            }
                        },
                        {
                            icon: "far fa-comment",
                            title: "Testimonials",
                            description: "There's a feeling I get. When I look to the west, And my spirit is crying for leaving. In my thoughts I have seen",
                            button:{
                                link:"testimonials",
                                text: "why us?"
                            }
                        }
        
                    ]

-
    let workCards =
                    [
                        {
                            src : "/assets/img/demo.jpg",
                            title : "Project 1",
                            figcaption : "Branding"
                        },
                        {
                            src : "/assets/img/demo.jpg",
                            title : "Project 2",
                            figcaption : "Branding"
                        },
                        {
                            src : "/assets/img/demo.jpg",
                            title : "Project 3",
                            figcaption : "Branding"
                        },
                        {
                            src : "/assets/img/demo.jpg",
                            title : "Project 4",
                            figcaption : "Branding"
                        },
                        {
                            src : "/assets/img/demo.jpg",
                            title : "Project 5",
                            figcaption : "Branding"
                        },
                        {
                            src : "/assets/img/demo.jpg",
                            title : "Project 6",
                            figcaption : "Branding"
                        },
                        {
                            src : "/assets/img/demo.jpg",
                            title : "Project 7",
                            figcaption : "Branding"
                        },
                        {
                            src : "/assets/img/demo.jpg",
                            title : "Project 8",
                            figcaption : "Branding"
                        },
                        {
                            src : "/assets/img/demo.jpg",
                            title : "Project 9",
                            figcaption : "Branding"
                        }
                    ]
