section.about

    +section-header("About", "Our weary eyes still stray to the horizon. Though down this road we've been so many times.")

    each user in usersAbout
        +card-about(user.img, user.name, user.job, user.description, user.socials)
