mixin section-header (title, description)
    if title == 'services'
        .section__header.section-header--left
            h2.section__title= title
            p.section__description= description
    else
        .section__header
            h2.section__title= title
            p.section__description= description
